<div class="contriner">


    <div fxLayout="row" fxLayoutAlign="space-around end" style="margin-right: 250px;">

        <div>

            <div class="Facebook">
                <h1> Facebook</h1>




            </div>

            <div class="Facebook2">

                <h4> Facebook helps you connect and share</h4>
                <h4> with the people in your life.</h4>


            </div>




        </div>




        <div fxLayout="row" fxLayoutAlign="space-around center">


            <div style="padding-top: 100px;">
                <mat-card class="size">


                    <div>
                        <input placeholder="Email address or phone number" class="input" type="text">
                    </div>

                    <div>
                        <input placeholder="Password" class="input" type="text">
                    </div>


                    <div>
                        <button mat-raised-button class="login">Log In</button >
           </div>
       <br>
      <div style="text-align: center;">
        <a  href=""><p>Forgotten password?</p> </a>
      </div>

      <hr>

      <div>
        <button mat-raised-button  class="Create">Create New Account</button >
      </div>
      



    </mat-card>


   <p style="margin-top: 20px; margin-left: 20px;"><a href="">Create a</a>  Page for a celebrity, band or business.</p> 


  </div>

    </div>

  </div>



</div>